<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>用户管理系统</title>
</head>
<body>
<!--<table border="1">-->
    <!--<tr>-->
        <!--<th>用户id</th>-->
        <!--<th>用户名称</th>-->
        <!--<th>用户密码</th>-->
    <!--</tr>-->
    <!--<tr th:each="user,User: ${list}">-->
        <!--<td th:text="#{user.id}"></td>-->
        <!--<td th:text="#{user.name}"></td>-->
        <!--<td th:text="#{user.password}"></td>-->
    <!--</tr>-->
<!--</table>-->
</body>
</html>